.App {
    display: flex;
    box-sizing: border-box;
}

.App * {
    box-sizing: border-box;
}

.leftNavMock {
    width: 60px;
    background-color: #1b2235;
    flex-shrink: 0;
}

.rightContent {
    --ts-modal-width-small: 690px;
    width: 100%;
}

ts-root {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}
