.App {
    display: flex;
    box-sizing: border-box;
    font-family: var(--ts-fontstack);
}

.App * {
    box-sizing: border-box;
}

.rightContent {
    width: 100%;
    text-align: center;
}

ts-root {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}
