.App {
    display: flex;
    /* font-family: var(--ts-fontstack); */
    box-sizing: border-box;
}

.App * {
  box-sizing: border-box;
}

.leftNavMock {
    width: 60px;
    background-color: #1b2235;
    flex-shrink: 0;
}

.rightContent {
    --ts-modal-width-small: 690px;
    width: 100%;
}

div[slot="main"] {
    align-items: center;
    display: block;
    flex-flow: column;
    min-height: 500px;
    overflow: hidden;
    max-width: var(--ts-modal-width-small);
}

.img-container {
    width: 100%;
    height: 50%;
}

.img-container img {
    width: 100%;
}

.title {
    font-weight: 400;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    font-size: 36px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 0;
    cursor: default;
  }
  
  .description {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    font-weight: 400;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    cursor: default;
}

ts-root {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

.button-container {
    margin: 30px 0 40px;
    display: flex;
    justify-content: center;
}

.button-container ts-button:nth-child(2) {
    margin-left: 20px;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
